# Data Science Tools and Techniques

## Introduction
This notebook provides an overview of various tools, languages, and libraries used in Data Science. It also includes some basic arithmetic operations and conversions.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Data Science Tools
| Tool           | Description                                 |
|----------------|---------------------------------------------|
| Jupyter        | Interactive computing environment          |
| RStudio        | Integrated development environment for R    |
| Apache Spark   | Cluster computing framework                |
| Tableau        | Data visualization tool                    |
| TensorFlow     | Machine learning library                   |

## Arithmetic Expression Examples
Here are some examples of arithmetic expressions in Python.

In [6]:
# Multiplication and addition example
a = 5
b = 4
result = (a * b) + b
result

24

In [8]:
# Conversion from minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Learn about different Data Science languages
- Understand commonly used Data Science libraries
- Get familiar with popular Data Science tools
- Perform basic arithmetic operations
- Convert time units from minutes to hours

## Author
Abel Tesfaye Sisaye